<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>.: ONPE - ERROR :.</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

<div class="bg_cuadritos">
  <header>
    <div class="logo_sea">
      <img src="/images/logo_saje.png" width="180" height="33" alt="sea"> </div>
    <h1 class="titulo_principal">ONPE
    </h1>
    <div class="logo_onpe">
      <img src="/images/logo_onpe_fondoblanco.png" width="173" height="120" alt="ONPE">
    </div>
  </header>
  <section class="wrap">
    <div class="wrap_actualizar">
    </div>

    <div class="filtros">
      <span class="filtros_msj_alt">ERROR 404</span><br>
      <span class="filtros_msj_alt">No se encontró la página</span>
    </div>

  </section>
  <footer>
  </footer>
</div>
</body>
</html>
